@import "variables";

@font-face {
    font-family: 'achilles';
    src:    url('../fonts/achilles.eot?vy2ayi');
    src:    url('../fonts/achilles.eot?vy2ayi#iefix') format('embedded-opentype'),
        url('../fonts/achilles.ttf?vy2ayi') format('truetype'),
        url('../fonts/achilles.woff?vy2ayi') format('woff'),
        url('../fonts/achilles.svg?vy2ayi#achilles') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'achilles' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.achilles-home {
    &:before {
        content: $achilles-home;
    }
}
.achilles-pencil {
    &:before {
        content: $achilles-pencil;
    }
}
.achilles-image {
    &:before {
        content: $achilles-image;
    }
}
.achilles-camera {
    &:before {
        content: $achilles-camera;
    }
}
.achilles-headphones {
    &:before {
        content: $achilles-headphones;
    }
}
.achilles-music {
    &:before {
        content: $achilles-music;
    }
}
.achilles-play {
    &:before {
        content: $achilles-play;
    }
}
.achilles-film {
    &:before {
        content: $achilles-film;
    }
}
.achilles-connection {
    &:before {
        content: $achilles-connection;
    }
}
.achilles-price-tag {
    &:before {
        content: $achilles-price-tag;
    }
}
.achilles-pushpin {
    &:before {
        content: $achilles-pushpin;
    }
}
.achilles-undo2 {
    &:before {
        content: $achilles-undo2;
    }
}
.achilles-redo2 {
    &:before {
        content: $achilles-redo2;
    }
}
.achilles-forward {
    &:before {
        content: $achilles-forward;
    }
}
.achilles-reply {
    &:before {
        content: $achilles-reply;
    }
}
.achilles-bubble {
    &:before {
        content: $achilles-bubble;
    }
}
.achilles-bubbles {
    &:before {
        content: $achilles-bubbles;
    }
}
.achilles-bubbles2 {
    &:before {
        content: $achilles-bubbles2;
    }
}
.achilles-bubble2 {
    &:before {
        content: $achilles-bubble2;
    }
}
.achilles-quotes-right {
    &:before {
        content: $achilles-quotes-right;
    }
}
.achilles-spinner3 {
    &:before {
        content: $achilles-spinner3;
    }
}
.achilles-leaf {
    &:before {
        content: $achilles-leaf;
    }
}
.achilles-fire {
    &:before {
        content: $achilles-fire;
    }
}
.achilles-lab {
    &:before {
        content: $achilles-lab;
    }
}
.achilles-power {
    &:before {
        content: $achilles-power;
    }
}
.achilles-link {
    &:before {
        content: $achilles-link;
    }
}
.achilles-bookmark {
    &:before {
        content: $achilles-bookmark;
    }
}
.achilles-bookmarks {
    &:before {
        content: $achilles-bookmarks;
    }
}
.achilles-arrow-up2 {
    &:before {
        content: $achilles-arrow-up2;
    }
}
.achilles-arrow-right2 {
    &:before {
        content: $achilles-arrow-right2;
    }
}
.achilles-arrow-down2 {
    &:before {
        content: $achilles-arrow-down2;
    }
}
.achilles-arrow-left2 {
    &:before {
        content: $achilles-arrow-left2;
    }
}
.achilles-google-plus2 {
    &:before {
        content: $achilles-google-plus2;
    }
}
.achilles-facebook2 {
    &:before {
        content: $achilles-facebook2;
    }
}
.achilles-instagram {
    &:before {
        content: $achilles-instagram;
    }
}
.achilles-twitter {
    &:before {
        content: $achilles-twitter;
    }
}
.achilles-rss2 {
    &:before {
        content: $achilles-rss2;
    }
}
.achilles-youtube {
    &:before {
        content: $achilles-youtube;
    }
}
.achilles-youtube2 {
    &:before {
        content: $achilles-youtube2;
    }
}
.achilles-github {
    &:before {
        content: $achilles-github;
    }
}
.achilles-skype {
    &:before {
        content: $achilles-skype;
    }
}
.achilles-reddit {
    &:before {
        content: $achilles-reddit;
    }
}
.achilles-pinterest {
    &:before {
        content: $achilles-pinterest;
    }
}
.achilles-html-five {
    &:before {
        content: $achilles-html-five;
    }
}
