/*
	@package achillestheme
*/

/*
	Variables
	------------------------------------------------
*/

$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color: #000000;

$lighter-grey: #F1F1F1;
$light-grey:  #898989;
$dark-grey: #333333;


$icomoon-font-path: "fonts" !default;

$achilles-home: "\e908";
$achilles-pencil: "\e909";
$achilles-image: "\e90a";
$achilles-camera: "\e90b";
$achilles-headphones: "\e912";
$achilles-music: "\e90c";
$achilles-play: "\e913";
$achilles-film: "\e914";
$achilles-connection: "\e90d";
$achilles-price-tag: "\e900";
$achilles-pushpin: "\e915";
$achilles-undo2: "\e916";
$achilles-redo2: "\e917";
$achilles-forward: "\e918";
$achilles-reply: "\e919";
$achilles-bubble: "\e91a";
$achilles-bubbles: "\e91b";
$achilles-bubbles2: "\e91c";
$achilles-bubble2: "\e90e";
$achilles-quotes-right: "\e91d";
$achilles-spinner3: "\e90f";
$achilles-leaf: "\e910";
$achilles-fire: "\e911";
$achilles-lab: "\e91e";
$achilles-power: "\e91f";
$achilles-link: "\e901";
$achilles-bookmark: "\e920";
$achilles-bookmarks: "\e921";
$achilles-arrow-up2: "\e922";
$achilles-arrow-right2: "\e923";
$achilles-arrow-down2: "\e924";
$achilles-arrow-left2: "\e925";
$achilles-google-plus2: "\e902";
$achilles-facebook2: "\e903";
$achilles-instagram: "\e926";
$achilles-twitter: "\e904";
$achilles-rss2: "\e905";
$achilles-youtube: "\e927";
$achilles-youtube2: "\e928";
$achilles-github: "\e906";
$achilles-skype: "\e907";
$achilles-reddit: "\e929";
$achilles-pinterest: "\e92a";
$achilles-html-five: "\e92b";


